body{
  background: white;
}
.card{
  font-family: sans-serif;
  font-size: larger;
  max-width: 12cm;
  border-radius: 20px;
  color:floralwhite;
  background: black;
}
.form-control{
  min-width: auto;
  border-radius: 20px;
  border: none;
}
.button{
  font-size: large;
  background:navy;
  border: none;
}